.buttons {
  text-decoration: none;
  font-size: bolder;
  color: black;
}
.buttons:hover {
  color: #077eff;
}

ul {
  list-style: none;
}

.btn {
  position: absolute;
  bottom: 20px;
  left: 14%;
}
.btn a {
  text-decoration: none;
  margin:10px;
  background-color: #adcdf0;
  padding: 10px;
  border-radius: 6px;
  color: black;
  transition: .5s ease-in-out;
}
.btn a:hover {
  background-color: #d5e4f5;
}
.why a {
  color: #077eff;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  /* transition: .3s ease-in-out; */
}
.why a:hover {
  background-color: #adcdf0;
}
@media screen and (max-width: 540px) {
  .btn a {
    padding: 4px;
  }
}
