.about-me {
 display: flex;
 justify-items: center;
 width: 100vw;
 height: 400px;
 align-items: center;
}
.my-image {
  width: 40%;
  text-align: right;
}
.text-about {
  width: 50%;
  text-align: left;
  font-size: 19px;
  padding-right: 20px;
}
.cards h1,
.cards p {
  color: black;
}
.info {
  width: 50%;
  text-align: center;
  position: relative;
  padding: 20px;
}
.cards {
  transition: transform 400ms ease-in;
  opacity: 0;
}
.cards {
  transition: .4s ease-in-out;
  background-color: white;
  width: 40%;
  height: 400px;
  margin: 50px auto;
  border-radius: 12px;
  display: flex;
  border: 2px solid gray;
  transform: translateX(-90%);
}

.cards.appear {
  transform: translateX(0);
  opacity: 1;
}
.fade-in {
  opacity: 0;
  transition: opacity 250ms;
}
.fade-in.appear {
  opacity: 1;
}
/* .cards:hover {
  transform: scale(1.1);
} */
.projects {
  text-align: center;
}
.projects h1 {
  margin-bottom: 30px;
}
.why {
  margin-top: 100px;
  left: 72%;
  width: 100px;
  position: fixed;
}
.about {
  margin-top: 100px;
}
.back {
  text-align: center;
  margin-bottom: 200px;
}
.back a {
  color: white;
  background-color: #8FD6E1;
  padding: 8px;

  border-radius: 20px;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .my-image {
    text-align: left;
    margin-left: 15px;
    height: 100px;
  }
  .text-about {
    text-align: left;
    font-size: 16px;
    height: 100px;
    margin-top: px;
    margin-left: 20px;
  }
  .text-about h1 {
    font-size: 24px;
  }
  #main {
    font-size: 15px;
  }
  .about-me {
    height: 340px;
  }


  .cards {
    transition: .4s ease-in-out;
    background-color: white;
    width: 90%;
    height: 340px;
    margin: 50px auto;
    border-radius: 12px;
    display: flex;
    border: 2px solid gray;
  }
  .projects {
    font-size: 14px;
  }
  .info {
    padding: 0px 10px;
  }
  .saver {
    font-size: 12px;
  }
  .saver img {
    object-position: -220px;
  }
}

@media screen and (min-width: 399px) {
  .my-image {
    text-align: right;
  }
  .why {
    left: 75%;
  }
  .text-about {
    margin-top: -30px;
  }
}

@media screen and (min-width: 641px) {

  .cards {
    width: 80%;
    height: 400px;
  }

  .why {
    margin-left: 9%;
  }
}


@media screen and (min-width: 780px) {
  .cards {
    width: 60%;
  }
}

@media screen and (max-width: 540px) {
  .why {
    margin-top: 80px;
  }
}
