.about-me {
 display: flex;
 justify-items: center;
 width: 100vw;
 height: 500px;
 align-items: center;
}
.my-image {
  width: 50%;
  text-align: right;
}
.text-about {
  width: 50%;
  text-align: left;
}
.cards h1,
.cards p {
  color: black;
}
.info {
  width: 50%;
  text-align: center;
  position: relative;
  padding: 20px;
}
.cards {
  transition: .4s ease-in-out;
  background-color: white;
  width: 40%;
  height: 400px;
  margin: 50px auto;
  border-radius: 12px;
  display: flex;
  border: 2px solid gray;
}
.cards:hover {
  transform: scale(1.1);
}
.projects {
  text-align: center;
}
.projects h1 {
  margin-bottom: 30px;
}
.body {
  height: 200px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.about {
  margin-top: 100px;
}
.body h1 {
  color: white;
  padding: 40px;
}
.why-me {
  margin: 0 auto;
  width: 700px;
  text-align: center;
  margin-bottom: 50px;
}
.skill-set {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  margin-bottom: 50px;
}
.skill-set ul {
  text-align: start;
}
.image {
  width: 300px;
  margin: 0 auto;
}
