#image-me {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 40px;
}
#sver {
  /* object-position: -220px; */
}

#calculator {
 width: 50%;
 height: 100%;
 float: right;
 border-top-right-radius: 12px;
 border-bottom-right-radius: 12px;
 object-fit: cover;
 image-rendering: pixelated;
}
#trophy {
  height: 40%;
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 540px) {
  #calculator {
    width: 50%;
  }
}
