* {
  font-family: 'Kanit', sans-serif;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


.about-me {
  text-align: center;
  height: 100vh;

}
:root {
  background-color: #2a3132;
  width: 100vw;
}
h1,
p {
  color: white;
}
.wrapper {
  width: 100vw;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Space Mono', monospace; */
