.wrapper {
  width: 100vw;
  margin-left: -10px;
  margin-top: -16px;
}
nav ul {
  display: flex;
  float: right;
}
nav li {
  margin-right: 30px;
  margin-left: 30px;
}
#logo {
  border-radius: 15px 50px 30px;
  display: inline-block;
  padding: 10px;
  height: 40px;
  line-height: 60px;
  margin-top: 10px;
}
#links {
  display: none;
}

nav {
  margin-top: 15px;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: -20px;
  width: 100%;
}
#three-lines {
  display: none;
}
.fa-sun {
  margin-top: 5px;
  width: 50px;
  font-size: 30px;
}

@media screen and (max-width: 540px) {
  .icon {
    display: none;
  }

  #three-lines {
    display: inline;
    font-size: 27px;
    margin-top: 12px;
    margin-right: 12px;
  }
  nav {
    height: 60px;
  }

  #links {
    font-size: 10px;
    background-color: white;
    margin-top: -12px;
    text-align: start;
  }

  #links a {
    text-decoration: none;
    color: #2a3132;
    font-size: 20px;
    /* margin-top: 20px; */
    padding-left: 20px;
  }

  .active {
    display: none;
  }
  #logo {
   margin-top: 5px;
  }

}
